* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

a {
    text-decoration: none;
}

.esex {
    width: 1300px; height: 1500px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0px;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body::-webkit-scrollbar {
    width: 2px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 20%; /* 스크롤바의 길이 */
    background: #3f3f3f; /* 스크롤바의 색상 */
    border-radius: 50px;
}

body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);  /*스크롤바 뒷 배경 색상*/
}

* {scroll-behavior: smooth;}

.bg {
    width: 100%;
    height: 100%;
    filter: blur(23px);
    z-index: -5;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    position: absolute;
    top: 0px;
}

/* animation: fadeIntwo 2s ease forwards; */

@keyframes fadeIntwo {
    from {
        opacity: 0;
        left: 10px;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInfuck {
    from {
        opacity: 0;
        scale: 0.9;
    }
    to {
        opacity: 1;
    }
}


@keyframes fuckthem {
    from {
        opacity: 0;
        right: -25px;
    }
    to {
        opacity: 1;
    }
}

.bar {
    height: 1px;
    width: 480px;
    box-sizing: border-box;
    padding: 1.6rem;
    background-color: rgba(0, 0, 0, 0.457);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.637);
}

.bar {
    position: fixed;
    top: 60px;
}

.list {
    height: 100%;
    width: 420px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: fuckthem 2s ease forwards;
}

.ha:hover {
    color: rgb(213, 213, 213);
}

.ha {
    transition: all .3s ease;
}

.l1 {
    font-family: 'Pretendard-Light';
    color: rgb(213, 213, 213);
    font-size: 13px;
    padding: 15px 15px;
}

.l2 {
    font-family: 'Pretendard-Light';
    color: rgb(130, 130, 130);
    font-size: 13px;
    padding: 15px 15px;
}

.l3 {
    font-family: 'Pretendard-Light';
    color: rgb(130, 130, 130);
    font-size: 13px;
    padding: 15px 15px;
    cursor: not-allowed;
}

.l4 {
    font-family: 'Pretendard-Light';
    color: rgb(130, 130, 130);
    font-size: 13px;
    padding: 15px 15px;
}

.icooss {
    position: absolute;
    left: 10px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    width: 35px;
}

.title {
    font-family: 'Freesentation-9Black';
    color: white;
    font-size: 50px;
    position: absolute;
    left: 60px;
    top: 350px;
    animation: fadeIntwo 1s ease forwards;
    text-shadow: 0 0 5px black;
}

.skid {
    color: transparent;
    background-image: linear-gradient(200deg, #cc25e2, rgba(142, 97, 255, 0) 34%), radial-gradient(circle farthest-corner at 0 -100%, #b958df 20%, rgba(205, 219, 248, 0) 51%), linear-gradient(180deg, #ba3faa, #d326ca);
    -webkit-background-clip: text;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.291);
}

.desc {
    font-family: 'Pretendard-Light';
    color: rgb(154, 154, 154);
    font-size: 14px;
    line-height: 25px;
    position: absolute;
    left: 60px;
    top: 415px;
    animation: fadeIntwo 1.5s ease forwards;
}

.download {
    background-color: white;
    color: black;
    padding: 17px 30px;
    border-radius: 13px;
    font-size: 15px;
    font-family: 'Pretendard-Regular';
    position: absolute;
    left: 60px;
    top: 520px;
    transition: all .3s ease;
    animation: fadeInfuck 1.1s ease forwards;
}
.download:hover {
    top: 517px;
}


.discord {
    background-color: rgba(0, 0, 0, 0.457);
    color: white;
    padding: 17px 30px;
    border-radius: 13px;
    font-size: 15px;
    font-family: 'Pretendard-Regular';
    position: absolute;
    left: 320px;
    top: 520px;
    transition: all .3s ease;
    animation: fadeInfuck 1.5s ease forwards;
    backdrop-filter: blur(10px);
}
.discord:hover {
    top: 517px;
}

.preview {
    position: absolute;
    right: 0px;
    top: 340px;
    width: 550px;
    transform: rotateX(20deg) rotateY(-20deg);
    animation: holy 1.5s ease forwards;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

@keyframes holy {
    from {
        opacity: 0;
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        opacity: 1;
    }
}


.grr1 {
    filter: blur(60px);
    position: absolute;
    top: 1000px;
    left: 20px;
    z-index: -1;
    animation: smth 1s ease forwards;
}

.gr1 {
    fill: url(#grad1);
}

.de1 {
    position: absolute;
    top: 1150px;
    left: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    width: 350px; height: 250px;
    transform: rotateZ(2deg);
    animation: fadeInfuck 1.5s ease forwards;
}

.de2 {
    position: absolute;
    top: 1450px;
    left: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    width: 350px; height: 250px;
    transform: rotateZ(2deg);
    animation: fadeInfuck 1.5s ease forwards;
}

.de3 {
    position: absolute;
    top: 1750px;
    left: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    width: 350px; height: 250px;
    transform: rotateZ(2deg);
    animation: fadeInfuck 1.5s ease forwards;
}

.de_name {
    font-family: 'GmarketSansMedium';
    color: white;
    font-size: 23px;
    position: absolute;
    top: 1px;
}

.de_desc {
    font-family: 'Pretendard-Regular';
    color: rgb(152, 152, 152);
    font-size: 17px;
    line-height: 23px;
    position: absolute;
    top: 60px;
}

.grdi {
    color: transparent;
    background-image: linear-gradient(250deg, #f28dff, rgb(163, 54, 182));
    -webkit-background-clip: text;
}


.showcase {
    width: 700px;
    position: absolute;
    top: 1300px;
    right: 0px;
    border-radius: 10px;
    transform: rotateX(10deg) rotateY(-10deg);
    animation: holy 1.5s ease forwards;
}
.showcase {
    border: 5px solid transparent;
    background-image: linear-gradient(200deg, #cc25e2, rgba(142, 97, 255, 0) 34%), radial-gradient(circle farthest-corner at 0 -100%, #b958df 20%, rgba(205, 219, 248, 0) 51%), linear-gradient(180deg, #ba3faa, #d326ca);
    -webkit-background-clip: border;
}

.copy {
    font-family: 'SUITE-Light';
    color: gray;
    font-size: 13px;
    position: absolute;
    top: 2000px;
}